.lanyard-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  touch-action: none; /* Prevents scrolling on touch devices while dragging */
}

.lanyard-wrapper canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
